# Created by https://www.gitignore.io

#!! ERROR: open is undefined. Use list command to see defined gitignore types !!#

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
